@import "tailwindcss";

:root {
  /*color-scheme: light dark;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@property --move{
    syntax: "<percentage>";
    initial-value: 0%;
    inherits: false;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}
.apply_goo_effect{
    /*filter: url(#goo) blur(55px);*/
    filter: url(#goo);
}



.thin_scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.thin_scrollbar::-webkit-scrollbar-thumb {
  background: #ccd2da;
  border-radius: 9999px;
}

/* Firefox */
.thin_scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #ccd2da transparent;
}
/*:root[class="light"]{
    --color-50:rgb(250, 245, 255);
    --color-100:rgb(250, 245, 255);
    --color-200:rgb(250, 245, 255);
    --color-300:rgb(250, 245, 255);
    --color-400:rgb(250, 245, 255);
    --color-500:rgb(250, 245, 255);
    --color-600:rgb(250, 245, 255);
    --color-700:rgb(250, 245, 255);
    --color-800:rgb(250, 245, 255);
    --color-900:rgb(250, 245, 255);
    --color-950:rgb(250, 245, 255);
}
:root[class="dark"]{
}*/